.about {
    display: flex;
    margin: 50px 40px;
    font-size: 25px;
    gap: 50px;
    text-align: center;
  }
  
  .about b {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 2;
  }
  
  @media (max-width: 750px) {
    .about b{
      font-size: 25px;
    }

    .about p {
      font-size: 20px;
    }
  }