/* Altera o Header no menu de navegação*/
.hero {
    background-color:#003a79;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;

}

/* Altera o conteudo da ul do menu de navegação*/
.header_ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 50px;
}

/* Coloca cor nos conteudos da lista do menu de navegação */
.header_ul a{
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
}

/* Insere a cor preta quando algum conteudo está selecionado no menu de navegação */
.header_ul a:hover {
    color:#1E8449;
}


/* Conteudos abaixo do menu de navegação */


/* Estiliza o conteudo da barra de pesquisa + logo por inteiro */
.header_pesquisa_conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
}

/* Estiliza o logo da empresa */
.header_pesquisa_conteudo img{
  width: 300px;
  margin-right: 25px;
}

/* Estiliza a barra de pesquisa */
.header_barra_pesquisa {

    /* O display flex está dentro dessa barra por alinhar como row o texto do placeholder com o desenho do botão */
    display: flex;
    align-items: center;
    border: 2px solid #003a79;
    border-radius: 12px;
    height: 80px;
    /* O Margin Top alinha com o tamanho do logo */
    margin-top: 80px;
    width: 900px;
  }

  /* Estilo do input */
  .header_barra_pesquisa input {
    border: none;
    font-size: 30px;
    width: 100%;
  }
  
  /* Estilo do botão da barra de pesquisa*/

  .header_barra_pesquisa button {
    background-color: #003a79; 
    color: white; 
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    height: 100%; 
  }

  /* Estiliza o focus da barra de pesquisa */
  .header_barra_pesquisa input:focus{
     outline: none; /*Tira a borda padrao que o input insere */
  }

  /* Estiliza o texto de introdução o site abaixo da barra de pesquisa */
  .intro {
    margin: 60px 0px;
  }

  .intro p {
    font-size: 30px;
  }
  
  .intro h1 {
    font-size: 30px;
  }
  

/* Utilizando media queries para estilizar quando a tela tem 750px */

@media (max-width: 750px) {
    /* Muda o tamanho e a estrutura dos conteudos do header */
    .hero {
      position: static;
      align-items: center;
      justify-content: center;
    }

    .hero a{
      font-size: 20px;
    }

    h1 {
      display: none;
    }

    .header_ul {
        flex-direction: row;
        font-size: 5px;
        align-items: center;
        padding: 0;
        margin: 0 2%;
    }

    .header_pesquisa_conteudo img{
      width: 250px;
      margin: 0px;
    }

    /* Remove a barra de pesquisa  */
    .header_barra_pesquisa{
      display: none;
    }

    .header_barra_pesquisa input {
      border: none;
      font-size: 30px;
      width: 20px;
      margin: 0px;
    }


}




  
  

  








