/* Altera o Header */
.hero {
    background-color:#003a79;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;

}

/* Altera o conteudo da ul */
.header_ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 50px;
}

/* Coloca cor nos conteudos da lista */
.header_ul a{
    font-weight: 700;
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
}

/* Insere a cor preta quando está selecionado */
.header_ul a:hover {
    color: rgb(0, 0, 0);
}

.header_pesquisa_conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 130px;
}

.header_pesquisa_conteudo img{
  width: 300px;
  margin-right: 25px;
}

/* Estilo do contêiner */
.header_barra_pesquisa {
    display: flex;
    align-items: center;
    border: 2px solid #003a79;
    justify-content: center; 
    border-radius: 12px;
    height: 80px;
    margin-top: 80px;
    width: 900px;
  }

  /* Estilo do input */
  .header_barra_pesquisa input {
    border: none;
    font-size: 30px;
    width: 100%;
  }
  
  /* Estilo do botão */

  .header_barra_pesquisa button {
    background-color: #003a79; 
    color: white; 
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    height: 100%; 
    margin-left: auto;
  }

  .header_barra_pesquisa input:focus{
     outline: none; /*Tira a borda padrao que o input insere */
  }
  
  .search_button:hover {
    background-color: #002a5c;
  }

@media (max-width: 750px) {
    /* Muda o tamanho e a estrutura dos conteudos do header */
    .hero {
      position: static;
      align-items: center;
      justify-content: center;
    }

    .hero a{
      font-size: 10px;
    }

    h1 {
      display: none;
    }

    .header_ul {
        flex-direction: row;
        font-size: 5px;
        align-items: center;
        padding: 0;
        margin: 0 2%;
    }

    /* Muda os conteudos da barra de pesquisa */
    .header_pesquisa_conteudo {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      margin: 0px;
    }

    .header_pesquisa_conteudo img{
      width: 150px;
      margin: 0px;
      justify-content: left;
    }

    /* Remove a barra de pesquisa  */
    .header_barra_pesquisa{
      display: none;
    }

    .header_barra_pesquisa input {
      border: none;
      font-size: 30px;
      width: 20px;
      margin: 0px;
    }


}




  
  

  








